<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>qcOSC</string>
	<key>CFBundleGetInfoString</key>
	<string>qcOSC version 0.5, Copyright RJ Fischer.</string>
	<key>CFBundleIdentifier</key>
	<string>net.hexler.qcOSC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>qcOSC</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5</string>
	<key>CFBundleVersion</key>
	<string>0.5</string>
	<key>QCPlugInClasses</key>
	<array>
		<string>qcOSCPlugIn</string>
	</array>
</dict>
</plist>
